<!DOCTYPE html>
<html>
  <head>
       <title>ENGO 551 Lab 2</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
<script src='https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js'></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

<style>
      #map {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

</style>

  </head>
    <body>

          <div id="map"></div>

<script>


window.addEventListener("message", receiveMessage, true);

//When data is received
window.onmessage = (event);

//Initialize map, set view to center of calgary if location permissions //denied
var map = L.map('map').setView([51.044, -114.07],11);
map.locate({setView: true, maxZoom: 11});

//Add tilelayer to map - note this will only work under covid-19maps.ca domain
L.tileLayer('https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}{r}.png?api_key=30b6c838-4624-47eb-964a-87fcc2e3eb39', {maxZoom: 20, attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'}).addTo(map);

//Function for when message is received from page onready function
      function receiveMessage(event) {

      //Create cluster groups
      var markerCollection = L.markerClusterGroup({
      	spiderfyOnMaxZoom: false,
	    showCoverageOnHover: false,
        disableClusteringAtZoom: 18
      });

      var marker = {};


      //let markerCollection = L.featureGroup();
{% for ma in mark %}
console.log({{ma[0]}})
{% endfor %}
      // Create markers and popups for each item
      //for (const ma in mar) {
    //  {% for ma in mark %}
  //    marker = L.marker([{{ma[mark][0]}}, {{ma[mark][1]}}])
      //.bindPopup('<b> Issued Date: </b>' + {{mark[ma]}}["issueddate"] + '<br><b>Work Class Group: </b>' + {{mark[ma]}}["workclassgroup"] + '<br><b>Community Name: </b>');
      //Add marker to layer
    //  markerCollection.addLayer(marker);
    //  {% endfor %}
    //  }

         //Add layer of markers to map
         console.log(markerCollection);
         map.addLayer(markerCollection);
      }



    </script>

  </body>
</html>
